html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.youtube-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding: 25px;
}

.youtube-image {
  margin-bottom: 15px;
}

.youtube-info {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.youtube-footer {
  display: flex;
  align-items: flex-start;
  gap: 0 20px;
}

.youtube-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  object-fit: cover;
  flex-shrink: 0;
}

.youtube-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.youtube-author {
  font-size: 14px;
  color: #999;
  font-weight: 300;
}

.item-user {
  text-align: -webkit-center;
  align-items: center;
  padding: 2rem;
  width: 15rem;
  line-height: 2rem;
}

.list-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center

}

.pagin {
  display: flex;
  
}

#app {
  width: 50%;
  margin: 0 auto;
}

#page-numbers {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#page-numbers > li {
  color: rgb(62, 140, 204);
  user-select: none;
  cursor: pointer;
  margin: 0 3px;
  padding: 0 5px;
  border: 1px solid rgb(62, 140, 204);
  text-align: center;
  border-radius: 2px;
}

#page-numbers > li:not(.active):hover {
  background: rgb(62, 140, 204);
  color: white;
}

#page-numbers > li.active {
  border-color: grey;
  color: white;
  background: grey;
  cursor: default;
}

.table tbody tr:nth-child(2n + 1) {
  background: #d2d2d280;
}

.table td, th {
  padding: 10px 7px;
}

.table {
  margin-bottom: 20px;
  width: 100%;
}

.news-per-page {
  margin-bottom: 15px;
}

.pagination {
  display: flex;
  justify-content: center;
}