.game-board {
    margin: 30px;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
}

.game-cell {
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    box-shadow: rgba(20, 20, 20, 0.2) 2px 2px 2px;
}

.game-cell.is-x {
    color: #2cccff;
}

.game-cell.is-o {
    color: #ff6651;
}

.game-reset {
    margin: 25px;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #6a5af9;
    font-size: 16px;
    border: none;
    outline: none;
}

.game-winner {
    padding: 25px;
    font-size: 20px;
    color: #f62682;
}